node_modules
dist
.git
.gitignore
.env
.env.*
!.env.example
.firebase
emulator-data
*-debug.log
*.log
README.md
scripts
firebase.json
.firebaserc
firestore.rules
firestore.indexes.json
eslint.config.js
tsconfig.scripts.json
